 * {
     border: 1px dotted grey;
 }

body {
    padding: 20px;
    background-color: white;
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50px auto auto;
    grid-column-gap:10px;
    grid-row-gap: 10px;
}

div#box_1 {
    width: 100%;
}
div#box_2 {
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
}
div#box_2 {
    margin-left: 10px;
    padding: 0px;
    margin: 9px;
    -moz-column-gap: 40px;
    background-color: white;
}
div#box_3 {
    margin-left: 10px;
    padding: 0px;
    margin: 9px;
    -moz-column-gap: 40px;
    background-color: white;
}
 div#box_4 {
     margin-left: 10px;
     padding: 0px;
     margin: 9px;
     -moz-column-gap: 40px;
     background-color: white;
 }
 div#box_5{
     margin-left: 10px;
     padding: 0px;
     margin: 9px;
     -moz-column-gap: 40px;
     background-color: white;
 }
img#home {
    width: 40px;
    height: auto;
}

img#img1 {
    width: 96%;
    height: 420px;
    padding: 10px;
}
 div#naarbeneden {
     grid-row-start: 2;
     grid-row-end: 20;
     background-color: black;
 }
 div#work {
     grid-row-start: 2;
     grid-row-end:7;
     background-color: orange;

 }
 div#education {
     grid-row-start:7 ;
     grid-row-end: 20;
     background-color: springgreen;
 }
 div#navbar {
     background-color: oldlace;
     grid-column-start: 1;
     grid-column-end: 3;
 }
 footer {
     background-color: oldlace;
     grid-row-start: 20;
     grid-row-end: 27;
     grid-column-start: 1;
     grid-column-end: 3;
 }
/*div#henk {*/
    /*display: flex;*/
    /*align-items: center;*/
/*}*/
 /*div#piet {*/
     /*display: flex;*/
     /*align-items: center;*/
     /*grid-column-gap: 20px;*/
 /*}*/
 /*div#henk {*/
     /*display: flex;*/
     /*align-items: center;*/
 /*}*/
 /*div#henk {*/
     /*display: flex;*/
     /*align-items: center;*/
 /*}*/

 .menu-links {
     display: flex;
     align-items: center;
     margin-top: 10px;
     margin-bottom: 10px;
     background-color: aqua;
 }
 div#skillsmenu {
     display: flex;
     align-items: center;
     margin-top: 10px;
     margin-bottom: 10px;
     background-color: aqua;
 }
 div#taalsmenu {
     display: flex;
     align-items: center;
     margin-top: 10px;
     margin-bottom: 10px;
     background-color: aqua;
 }
 div#evmenu {
     display: flex;
     align-items: center;
     margin-top: 10px;
     margin-bottom: 10px;
     background-color: aqua;
 }
 h3 {
     margin-left: 17px;
     font-size: 22px;
 }
 div#box_6{
     margin-left: 10px;
     padding: 0px;
     margin: 9px;
     -moz-column-gap: 40px;
     background-color: white;
 }
 div#box_7{
     margin-left: 10px;
     padding: 0px;
     margin: 9px;
     -moz-column-gap: 40px;
     background-color: white;
 }
 div#box_8{
     margin-left: 10px;
     padding: 0px;
     margin: 9px;
     -moz-column-gap: 40px;
     background-color: white;

 }
 h8 {
     margin-left: 17px;
     font-size: 22px;
     color: white;
 }
 img#werk {
     width: 45px;
     height: auto;
     display: flex;
 }
 div#foto {
     display: flex;
     align-items: center;
 }

 div#box_box1 {
     margin-top: 50px;
 }
 div#box_box2 {
     margin-top: 50px;
 }
 div#box_box3 {
     margin-top: 50px;

 }

 div#box_10{
     margin-left: 10px;
     padding: 0px;
     margin: 9px;
     -moz-column-gap: 40px;
     background-color: white;
 }
 div#box_11 {
     margin-left: 10px;
     padding: 0px;
     margin: 9px;
     -moz-column-gap: 40px;
     background-color: white;
 }
 div#box_12{
     margin-left: 10px;
     padding: 0px;
     margin: 9px;
     -moz-column-gap: 40px;
     background-color: white;
 }
 div#box_13 {
     margin-left: 10px;
     padding: 0px;
     margin: 9px;
     -moz-column-gap: 40px;
     background-color: white;
 }